/********* COMMON *********/
* {
  padding: 0;
  margin: 0;
}

body {
  color: #FEFEFE;
  font-family: sansation;
  background-color: #3A393A;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-family: sansation;
}

.uppercase {
  text-transform: uppercase;
}

p {
  padding-top: 1em;
}

button {
  background-color: #939393;
  color: #f7f7f7;

}

.services-feedback-title {
  grid-area: title;
  align-self: center;
  font-size: 2.5em;
  background-color: #3A393A;
  height: 100%;
  display: flex;
  min-height: 116px;
}

.border-services-feedback-short-l {
  grid-area: bssl;
  border-top: 3px solid #FEFEFE;
  position: relative;
  top: 60%;
}
.border-services-feedback-short-r {
  grid-area: bssr;
  border-top: 3px solid #FEFEFE;
  position: relative;
  top: 60%;
}

.border-services-feedback-long-l {
  grid-area: bsll;
  border-top: 1px solid #FEFEFE;
  position: relative;
  top: 61%;
}
.border-services-feedback-long-r {
  grid-area: bslr;
  border-top: 1px solid #FEFEFE;
  position: relative;
  top: 61%;
}
/********* END COMMON *********/



#wrapper {
  max-width: 999px;
  margin: 0 auto;

  display: grid;
  grid-template-areas:
  "header"
  "about"
  "services"
  "feed"
  "clients"
  "quote"
  "footer"
}

/********* HEADER *********/

header {
  grid-area: header;
  background-image: url(../img/ap-ui.png);
  background-size: cover;
  min-height: 62px;

  display: grid;
  grid-template-areas:
  "logo nav social"
  "banner banner banner";
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 1fr;
}

  nav {
    grid-area: nav;
  }

    ul.menu {
      text-align: center;
    }

    ul.menu > li {
      display: inline-block;
      text-decoration: none;
      margin: 0 10px;
    }

    ul.menu > li > a:hover {
      color: #097e89;
    }

    div.logo {
      grid-area: logo;
      font-size: 24px;
      text-align: center;
      /* vertical-align: middle; */
      height: 100%;
      /* content: ""; */
    }

      span.logo-begin {
        color: #ffffff;
        /* display: inline-block;
        vertical-align: middle; */
      }

      span.logo-end {
        color: #da2346;
      }

    .social {
      grid-area: social;
    }

    .social a {
      font-size: inherit;
    }

    .social-wrapper {
      display: flex;
      justify-content: space-evenly;
    }

    .icons-round-header {
      border: 1px solid #6E5F86;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      align-items: center;
      display: flex;
      justify-content: center;
    }

  section.banner {
    color: #ffffff;
    grid-area: banner;
    min-height: 552px;
    border-top: solid 1px;
    border-color: #624F81;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 2fr 8fr 2fr 1fr;
    grid-template-rows: 30% 1fr 2fr 0.5fr 1fr 1fr 3fr;
    grid-template-areas:
    ". . . . ."
    ". bl bt br ."
    ". bl title br ."
    "arrow-l bl descr br arrow-r"
    ". bl button br ."
    ". . . . ."
    ". . . . ."
    ;
  }

    .banner-title {
      grid-area: title;
      font-size: 1.7em;
    }

    .banner-description {
      grid-area: descr;
      font-size: 0.6em;
    }

    .banner-button {
      grid-area: button;
      align-self: end;
    }
    .banner-button > button {
      padding: 0.5em 2.4em;
      border: 3px solid;
      background-color: transparent;
      cursor: pointer;
    }

    .arrow {
      grid-area: arrow-l;
      border: 1px solid;
      border-color: #706185;
      border-radius: 5%;
      font-size: 1.4em;
      color: #706185;
      width: 27px;
      cursor: pointer;
      justify-self: end;
    }
    .arrow2 {
      grid-area: arrow-r;
      border: 1px solid;
      border-color: #706185;
      border-radius: 5%;
      font-size: 1.4em;
      color: #706185;
      width: 27px;
      cursor: pointer;
    }

    .border-top {
      grid-area: bt;
      border-top: 1px solid #706185;
    }

    .border-right {
      grid-area: br;
      border-left: 1px solid #66567C;
    }

    .border-left {
      grid-area: bl;
      border-right: 1px solid #4B356A;
    }

    .border-bottom-short {
      position: relative;
      border-bottom: 2px solid #252525;
      right: 82%;
    }
/********* END HEADER *********/

/********* ABOUT US *********/

section.about-us {
  color: #292929;
  grid-area: about;
  min-height: 425px;

  display: grid;
  grid-template-areas: "img text";
  grid-template-columns: 1fr 1fr;
}

.about_img {
  grid-area: img;
  background-image: url("../img/write-593333_1920.png");
  background-size: cover;
}

.about_text {
  grid-area: text;
  background-color: #FEFEFE;

  display: grid;
  grid-template-columns: 1fr 9fr 2fr;
  grid-template-areas:
  ". title ."
  ". about ."
  ". button .";
}
  .about_text-title {
    grid-area: title;
    font-size: 2em;
    border-bottom: 2px solid;
    align-self: end;
    overflow: hidden;
    margin-bottom: 0.5em;
  }
  .about_text-about {
    grid-area: about;
    font-size: 0.8em;
  }
  .about_text-button {
    grid-area: button;
  }
  .about_text-button > button {
    background-color: #009EAB;
    padding: 0.5em 2.4em;
  }
/********* END ABOUT US *********/

/********* SERVICES *********/

section.services {
  grid-area: services;
  min-height: 692px;
  text-align: center;

  display: grid;
  grid-template-columns: 3fr 1fr 4fr 1fr 3fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
  "bsll bssl title bssr bslr"
  "item1 item1 item2 item3 item3";
}

.exp {
  margin: auto;
}

.services-item1 {
  grid-area: item1;
  background-color: #3F3F3F;
}
.services-item2 {
  grid-area: item2;
  background-color: #097e89;
}
.services-item3 {
  grid-area: item3;
  background-color: #3F3F3F;
}

.item-title {
  font-size: 1.5em;
  color: #F5F5F5;
}

.item-pattern {
  padding-top: 40%;
}

.item-text {
  color: #F5F5F5;
}

.border-bottom {
  border-bottom: 1px solid #E2E2E2;
  overflow: hidden;
  background-color: #3A393A;
}

.services-item-button {
  background-color: #939393;
  padding: 0.5em 2em;
  margin-top: 3em;
}
/********* END SERVICES *********/

/********* FEEDBACK *********/

section.feedback {
  grid-area: feed;
  min-height: 420px;
  text-align: center;

  display: grid;
  grid-template-columns: 3fr 1fr 4fr 1fr 3fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
  "bsll bssl title bssr bslr"
  "feed feed feed feed feed";
}

.feed-area {
  grid-area: feed;
  background-color: #3F3F3F;

  display: grid;
  grid-template-areas:
  "text clients clients clients";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row:
}

  .feed-text {
    grid-area: text;

  }
  .feed-clients {
    grid-area: clients;
    display: grid;
    grid-template-areas:
    "client1 client2 client3";
  }

    .feed-client1 {
      grid-area: client1
    }
    .feed-client2 {
      grid-area: client2
    }
    .feed-client3 {
      grid-area: client3
    }
      .client-name-wrapper {
        color: #272727;
        position: relative;
        bottom: 3.5em;
        width: 70%;
        height: 2.5em;
        margin: 0 auto;
        font-size: 0.8em;
      }
        .client-num {
          background-color: white;
          width: 24%;
          float: left;
          margin-right: 3%;
          height: 100%;
        }
        .client-name {
          background-color: white;
          width: 73%;
          float:right;
          text-align: left;
        }
/********* END FEEDBACK *********/

/********* CLIENTS *********/

section.clients {
  background-color: #FEFEFE;
  color: #656363;
  grid-area: clients;
  min-height: 529px;

  display: grid;
  grid-template-columns: 3fr 1fr 4fr 1fr 3fr;
  grid-template-rows: 1fr 0.2fr 2.5fr 0.8fr;
  grid-template-areas:
  "bsll bssl title bssr bslr"
  "dd dd dd dd dd"
  "clients clients clients clients clients"
  ". . . . .";
}

.clients-title {
  grid-area: title;
  align-self: center;
  font-size: 2.5em;
  background-color: #FEFEFE;
  height: 100%;
  display: flex;
  min-height: 116px;
  font-weight: bold;
}

.clients-divider {
  grid-area: dd;
  background-color: #F9F9F9;
}

.clients-logo {
  grid-area: clients;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "logo1 logo2 logo3 logo4"
  "logo5 logo6 logo7 logo8";
  align-items: center;
  justify-items: center;
}

div.logo1 {
  grid-area: logo1;
}
div.logo2 {
  grid-area: logo2;
}
div.logo3 {
  grid-area: logo3;
}
div.logo4 {
  grid-area: logo4;
}
div.logo5 {
  grid-area: logo5;
}
div.logo7 {
  grid-area: logo6;
}
div.logo7 {
  grid-area: logo7;
}
div.logo8 {
  grid-area: logo8;
}

.border-clients-short-l {
  grid-area: bssl;
  border-top: 3px solid #656363;
  position: relative;
  top: 60%;
}
.border-clients-short-r {
  grid-area: bssr;
  border-top: 3px solid #656363;
  position: relative;
  top: 60%;
}

.border-clients-long-l {
  grid-area: bsll;
  border-top: 1px solid #656363;
  position: relative;
  top: 61%;
}
.border-clients-long-r {
  grid-area: bslr;
  border-top: 1px solid #656363;
  position: relative;
  top: 61%;
}
/********* END CLIENTS *********/

/********* QUOTE *********/
section.quote {
  background-color: #007D86;
  grid-area: quote;
  min-height: 173px;

  display: grid;
  grid-template-areas:
  ". quote inputs .";
  grid-template-columns: 0.15fr 1fr 2fr 0.15fr;
}

.quote-text {
  grid-area: quote;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
  .quote-title {
    font-size: 2em;
  }
  .quote-text {
    font-size: 0.8em;
  }

.quote-inputs {
  grid-area: inputs;
  height: 25%;

  display: flex;
  justify-content: flex-end;
  margin: auto 0;
}

.quote-inputs > button {
  background-color: #FEFEFE;
  color: #007D86;
  width: 6em;
  border: 1px solid #FEFEFE;
  font-family: "Myriad pro";
}

input[type="text"] {
  margin: 0;
  padding: 0;
  width: 12em;
  background-color: #007D86;
  color: #FEFEFE;
  border: 1px solid #FEFEFE;
  padding-left: 1em;
}
/********* END QUOTE *********/

/********* FOOTER *********/
footer {
  grid-area: footer;
  min-height: 209px;
  background-color: #484848;

  display: grid;
  grid-template-areas:
  ". links . socials .";
  grid-template-columns: 0.35fr 3fr 2fr 2fr 0.35fr;
}

.footer-links {
  grid-area: links;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links > ul {
  list-style: none;
  /* min-width: 128px; */
  line-height: 2.5em;
  font-family: "Helvetica LT Std";
  overflow: hidden;
}

.footer-links > ul > li:first-child {
  font-size: 1em;
  margin-bottom: -0.5em;
  /* border-bottom: 1px solid; */
}

.footer-links > ul > li > a {
  font-size: 1em;
  font-family: "Helvetica LT CondensedLight";
}

.footer-socials {
  grid-area: socials;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.decorline {
  position: relative;
  border-top: 1px solid;
  right: 70%;
}

.subscribe-wrapper {
  display: flex;
  height: 2.7em;
  font-family: "Helvetica LT CondensedLight";
}

.footer-socials-icons {
  display: flex;
  justify-content: space-between;
}

footer input[type="text"] {
  background-color: #CACACA;
  color: #484848;
  border: 1px solid #FEFEFE;
}

footer button {
  background-color: #006EB6;
  border: 1px solid #FEFEFE;
  width: 6em;
}

footer a {
  font-size: inherit;
}

.icons-round-footer {
  background-color: #313131;
  border-radius: 100%;
  height: 2em;
  width: 2em;
  align-items: center;
  display: flex;
  justify-content: center;
}
/********* END FOOTER *********/
