/********* COMMON *********/
* {
  padding: 0;
  margin: 0;
}

body {
  color: #FEFEFE;
  font-family: sansation;
  background-color: #3A393A;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-family: sansation;
}

.uppercase {
  text-transform: uppercase;
}

p {
  padding-top: 1em;
}
/********* END COMMON *********/



#wrapper {
  max-width: 999px;
  margin: 0 auto;

  display: grid;
  grid-template-areas:
  "header"
  "about"
  "services"
  "feed"
  "clients"
  "quote"
  "footer"
}

/********* HEADER *********/

header {
  grid-area: header;
  background-image: url(../img/ap-ui.png);
  background-size: cover;
  min-height: 62px;

  display: grid;
  grid-template-areas:
  "logo nav social"
  "banner banner banner";
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 1fr;
}

  nav {
    grid-area: nav;
  }

    ul.menu {
      text-align: center;
    }

    ul.menu > li {
      display: inline-block;
      text-decoration: none;
      margin: 0 10px;
    }

    ul.menu > li > a:hover {
      color: #097e89;
    }

    div.logo {
      grid-area: logo;
      font-size: 24px;
      text-align: center;
      /* vertical-align: middle; */
      height: 100%;
      /* content: ""; */
    }

      span.logo-begin {
        color: #ffffff;
        /* display: inline-block;
        vertical-align: middle; */
      }

      span.logo-end {
        color: #da2346;
      }

    .social {
      grid-area: social;
    }



  img.sprite {
    filter: contrast(0.01);
  }

  section.banner {
    color: #ffffff;
    grid-area: banner;
    min-height: 552px;
    border-top: solid 1px;
    border-color: #624F81;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 2fr 8fr 2fr 1fr;
    grid-template-rows: 30% 1fr 2fr 0.5fr 1fr 1fr 3fr;
    grid-template-areas:
    ". . . . ."
    ". bl bt br ."
    ". bl title br ."
    "arrow-l bl descr br arrow-r"
    ". bl button br ."
    ". . . . ."
    ". . . . ."
    ;
  }

    .banner-title {
      grid-area: title;
      font-size: 1.7em;
    }

    .banner-description {
      grid-area: descr;
      font-size: 0.6em;
    }

    .banner-button {
      grid-area: button;
      align-self: end;
    }
    .banner-button > button {
      padding: 0.5em 2.4em;
      border: 3px solid;
      background-color: transparent;
      cursor: pointer;
    }

    .arrow {
      grid-area: arrow-l;
      border: 1px solid;
      border-color: #706185;
      border-radius: 5%;
      font-size: 1.4em;
      color: #706185;
      width: 27px;
      cursor: pointer;
      justify-self: end;
    }
    .arrow2 {
      grid-area: arrow-r;
      border: 1px solid;
      border-color: #706185;
      border-radius: 5%;
      font-size: 1.4em;
      color: #706185;
      width: 27px;
      cursor: pointer;
    }

    .border-top {
      grid-area: bt;
      border-top: 1px solid #706185;
    }

    .border-right {
      grid-area: br;
      border-left: 1px solid #66567C;
    }

    .border-left {
      grid-area: bl;
      border-right: 1px solid #4B356A;
    }

    .border-bottom-short {
      position: relative;
      border-bottom: 2px solid #252525;
      right: 82%;
    }
/********* END HEADER *********/

/********* ABOUT US *********/

section.about-us {
  color: #292929;
  grid-area: about;
  min-height: 425px;

  display: grid;
  grid-template-areas: "img text";
  grid-template-columns: 1fr 1fr;
}

.about_img {
  grid-area: img;
  background-image: url("../img/write-593333_1920.png");
  background-size: cover;
}

.about_text {
  grid-area: text;
  background-color: #FEFEFE;

  display: grid;
  grid-template-columns: 1fr 9fr 2fr;
  grid-template-areas:
  ". title ."
  ". about ."
  ". button .";
}
  .about_text-title {
    grid-area: title;
    font-size: 2em;
    border-bottom: 2px solid;
    align-self: end;
    overflow: hidden;
    margin-bottom: 0.5em;
  }
  .about_text-about {
    grid-area: about;
    font-size: 0.8em;
  }
  .about_text-button {
    grid-area: button;
  }
  .about_text-button > button {
    background-color: #009EAB;
    padding: 0.5em 2.4em;
  }
/********* END ABOUT US *********/

/********* SERVICES *********/

section.services {
  grid-area: services;
  min-height: 692px;
  text-align: center;

  display: grid;
  grid-template-columns: 3fr 1fr 4fr 1fr 3fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
  "bsll bssl title bssr bslr"
  "item1 item1 item2 item3 item3";
}

  .services-title {
    grid-area: title;
    align-self: center;
    font-size: 2.5em;
    background-color: #3A393A;
    height: 100%;
    display: flex;
  }

  .exp {
    margin: auto;
  }

  .services-item1 {
    grid-area: item1;
    background-color: #3F3F3F;
  }
  .services-item2 {
    grid-area: item2;
    background-color: #097e89;
  }
  .services-item3 {
    grid-area: item3;
    background-color: #3F3F3F;
  }

  .item-title {
    font-size: 1.5em;
    color: #F5F5F5;
  }

  .item-pattern {
    padding-top: 40%;
  }

  .item-text {
    color: #F5F5F5;
  }

  .border-bottom {
    border-bottom: 1px solid #E2E2E2;
    overflow: hidden;
    background-color: #3A393A;
  }

  .border-services-short-l {
    grid-area: bssl;
    border-top: 3px solid #FEFEFE;
    position: relative;
    top: 50%;
  }
  .border-services-short-r {
    grid-area: bssr;
    border-top: 3px solid #FEFEFE;
    position: relative;
    top: 50%;
  }

  .border-services-long-l {
    grid-area: bsll;
    border-top: 1px solid #FEFEFE;
    position: relative;
    top: 51%;
  }
  .border-services-long-r {
    grid-area: bslr;
    border-top: 1px solid #FEFEFE;
    position: relative;
    top: 51%;
  }

  .services-item-button {
    background-color: #939393;
    padding: 0.5em 2em;
    margin-top: 3em;
  }
/********* END SERVICES *********/

section.feedback {
  background-color: #d7d7d7;
  color: #292929;
  grid-area: feed;
  min-height: 420px;
}
section.clients {
  background-color: #d7d7d7;
  color: #292929;
  grid-area: clients;
  min-height: 529px;
}
section.quote {
  background-color: #d7d7d7;
  color: #292929;
  grid-area: quote;
  min-height: 173px;
}

footer {
  background-color: #d7d7d7;
  color: #292929;
  grid-area: footer;
  min-height: 209px;
}
button {
  background-color: #939393;
  color: #f7f7f7;
}

input[type="text"] {

}

p {

}
